<head>
    <title>@ViewBag.Title - SPS FW Web Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://www.intel.com/etc/designs/ver/4.4.2/intel/default/favicon.ico" type="image/vnd.microsoft.icon" />

    <!-- compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>*@


    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.metro.min.css" rel="stylesheet" type="text/css" />

    @*<link href="@Url.Content("~/Content/Awesomplete/awesomplete.base.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Awesomplete/awesomplete.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/Site.js")"></script>
    <script src="@Url.Content("~/Scripts/Json2.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/FrameSet.js")"></script>
    <script src="@Url.Content("~/Scripts/awesomplete.min.js")"></script>

    <script src="@Url.Content("/static/js/sorttable.js")"></script>
    <script src="@Url.Content("/static/js/tweenmax.js")"></script>
</head>
